body {
	color: black;
	}
	
.backcol {
	background: #ACE1AF;
}

ul {
  background: #ACE1AF;
}

li.list-group-item {
  background: #50C878;
  padding: 20px;
}

h5 {
	background: #50C878;
}

h2 {
	background: #ACE1AF;
}

h4 {
	background: #ACE1AF
}

.lala {
	background: #50C878;
}

.hihi {
	background: #50C878;
}

.skils {
	background: #ACE1AF;
}

.miaou {
	background: #ACE1AF
}